<div class="mud-codeblock">
<div class="html"><pre>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudDialogProvider</span>
    <span class="htmlAttributeName">FullWidth</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="keyword">true</span><span class="quot">&quot;</span>
    <span class="htmlAttributeName">MaxWidth</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="enum">MaxWidth</span><span class="enumValue">.ExtraSmall</span><span class="quot">&quot;</span>
    <span class="htmlAttributeName">CloseButton</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="keyword">true</span><span class="quot">&quot;</span>
    <span class="htmlAttributeName">BackdropClick</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="keyword">false</span><span class="quot">&quot;</span>
    <span class="htmlAttributeName">NoHeader</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="keyword">true</span><span class="quot">&quot;</span>
    <span class="htmlAttributeName">Position</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="enum">DialogPosition</span><span class="enumValue">.Center</span><span class="quot">&quot;</span>
    <span class="htmlAttributeName">CloseOnEscapeKey</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="keyword">true</span><span class="quot">&quot;</span>
    <span class="htmlAttributeName">BackgroundClass</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">my-custom-class</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">/&gt;</span>
</pre></div>
</div>
