<Router AppAssembly="@typeof(MudBlazor.Docs.Pages.Index).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MudBlazor.Docs.Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MudBlazor.Docs.Shared.MainLayout)">
            <p>Page not found.</p>
        </LayoutView>
    </NotFound>
</Router>
