<div class="mud-codeblock">
<div class="html"><pre>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudCard</span> <span class="htmlAttributeName">Style</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">width: 70%;</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudCardContent</span><span class="htmlTagDelimiter">&gt;</span>
        &lt;MudFileUpload <span class="atSign">&#64;</span>bind-Files=&quot;<span class="atSign">&#64;</span>_browserFiles&quot;
                       AppendMultipleFiles=&quot;true&quot;
                       DragAndDrop=&quot;true&quot;
                       tabindex=&quot;-1&quot;
                       <span class="atSign">&#64;</span>bind-Dragging=&quot;<span class="atSign">&#64;</span>_dragging&quot;
                       <span class="atSign">&#64;</span>bind-Dragging:after=&quot;<span class="atSign">&#64;</span>ClearDragClass&quot;&gt;
            <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">CustomContent</span><span class="htmlTagDelimiter">&gt;</span>
                <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudPaper</span> <span class="htmlAttributeName">Height</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">300px</span><span class="quot">&quot;</span>
                          <span class="htmlAttributeName">Outlined</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="keyword">true</span><span class="quot">&quot;</span>
                          <span class="htmlAttributeName"><span class="atSign">&#64;</span>onclick</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>context.OpenFilePickerAsync</span><span class="quot">&quot;</span>
                          <span class="htmlAttributeName"><span class="atSign">&#64;</span>ondragenter</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="sharpVariable"><span class="atSign">&#64;</span>SetDragClass</span><span class="quot">&quot;</span>
                          <span class="htmlAttributeName">Class</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>_dragClass</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
                    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudText</span> <span class="htmlAttributeName">Typo</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="enum">Typo</span><span class="enumValue">.h6</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
                        Drag files here or click to browse
                    <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudText</span><span class="htmlTagDelimiter">&gt;</span>
                    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">div</span> <span class="htmlAttributeName">class</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">flex-grow-1</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
                        <span class="atSign">&#64;</span>foreach (var file in context.GetFilenames())
                        {
                            <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudChip</span> <span class="htmlAttributeName">T</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">string</span><span class="quot">&quot;</span>
                                     <span class="htmlAttributeName">Color</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="enum">Color</span><span class="enumValue">.Dark</span><span class="quot">&quot;</span>
                                     <span class="htmlAttributeName">Text</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="sharpVariable"><span class="atSign">&#64;</span>file</span><span class="quot">&quot;</span>
                                     <span class="htmlAttributeName">CloseIcon</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>Icons.Material.Outlined.Close</span><span class="quot">&quot;</span>
                                     <span class="htmlAttributeName">OnClose</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>(async () =&gt; await context.RemoveFileAsync(file))</span><span class="quot">&quot;</span>
                                     <span class="htmlAttributeName">tabindex</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">-1</span><span class="quot">&quot;</span> <span class="htmlTagDelimiter">/&gt;</span>
                        }
                    <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">div</span><span class="htmlTagDelimiter">&gt;</span>
                    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudToolBar</span> <span class="htmlAttributeName">Gutters</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="keyword">false</span><span class="quot">&quot;</span>
                                <span class="htmlAttributeName">Class</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">d-flex justify-end align-end gap-4</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
                        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudButton</span> <span class="htmlAttributeName">Color</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="enum">Color</span><span class="enumValue">.Primary</span><span class="quot">&quot;</span>
                                   <span class="htmlAttributeName">OnClick</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>context.OpenFilePickerAsync</span><span class="quot">&quot;</span>
                                   <span class="htmlAttributeName">Variant</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="enum">Variant</span><span class="enumValue">.Filled</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
                            Browse files
                        <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudButton</span><span class="htmlTagDelimiter">&gt;</span>
                        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudButton</span> <span class="htmlAttributeName">Color</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="enum">Color</span><span class="enumValue">.Error</span><span class="quot">&quot;</span>
                                   <span class="htmlAttributeName">Disabled</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>(!context.GetFilenames().Any())</span><span class="quot">&quot;</span>
                                   <span class="htmlAttributeName">OnClick</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>context.ClearAsync</span><span class="quot">&quot;</span>
                                   <span class="htmlAttributeName">Variant</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="enum">Variant</span><span class="enumValue">.Filled</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
                            Clear
                        <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudButton</span><span class="htmlTagDelimiter">&gt;</span>
                    <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudToolBar</span><span class="htmlTagDelimiter">&gt;</span>
                <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudPaper</span><span class="htmlTagDelimiter">&gt;</span>
            <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">CustomContent</span><span class="htmlTagDelimiter">&gt;</span>
            <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">SelectedTemplate</span> <span class="htmlTagDelimiter">/&gt;</span>
        <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudFileUpload</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudCardContent</span><span class="htmlTagDelimiter">&gt;</span>
<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudCard</span><span class="htmlTagDelimiter">&gt;</span>
</pre></div>
<div class="csharp"><pre>
<span class="atSign">&#64;</span>code
{
    <span class="keyword">private</span> <span class="keyword">const</span> <span class="keyword">string</span> DefaultDragClass = <span class="string">&quot;relative d-flex flex-column p-r gap-2 rounded-lg border-2 border-dashed pa-4 mt-4 mud-width-full mud-height-full&quot;</span>;
    <span class="keyword">private</span> IReadOnlyList&lt;IBrowserFile&gt; _browserFiles =
    [
        <span class="keyword">new</span> DummyBrowserFile(<span class="string">&quot;test1.jpg&quot;</span>, DateTimeOffset.Now, <span class="number">1024</span>, <span class="string">&quot;image/jpeg&quot;</span>, []),
        <span class="keyword">new</span> DummyBrowserFile(<span class="string">&quot;test2.jpg&quot;</span>, DateTimeOffset.Now, <span class="number">1024</span>, <span class="string">&quot;image/jpeg&quot;</span>, []),
    ];
    <span class="keyword">private</span> <span class="keyword">string</span> _dragClass = DefaultDragClass;
    <span class="keyword">private</span> <span class="keyword">bool</span> _dragging = <span class="keyword">false</span>;

    <span class="keyword">private</span> <span class="keyword">void</span> SetDragClass()
    {
        _dragClass = $<span class="string">&quot;{DefaultDragClass} mud-border-success&quot;</span>;
        _dragging = <span class="keyword">true</span>;
    }

    <span class="keyword">private</span> <span class="keyword">void</span> ClearDragClass()
    {
        <span class="keyword">if</span> (!_dragging)
        {
            _dragClass = DefaultDragClass;
        }
    }

    <span class="keyword">public</span> <span class="keyword">class</span> DummyBrowserFile : IBrowserFile
    {
        <span class="keyword">public</span> <span class="keyword">string</span> Name { <span class="keyword">get</span>; }
        <span class="keyword">public</span> DateTimeOffset LastModified { <span class="keyword">get</span>; }
        <span class="keyword">public</span> <span class="keyword">long</span> Size { <span class="keyword">get</span>; }
        <span class="keyword">public</span> <span class="keyword">string</span> ContentType { <span class="keyword">get</span>; }
        <span class="keyword">public</span> <span class="keyword">byte</span>[] Content { <span class="keyword">get</span>; }

        <span class="keyword">public</span> DummyBrowserFile(<span class="keyword">string</span> name, DateTimeOffset lastModified, <span class="keyword">long</span> size, <span class="keyword">string</span> contentType, <span class="keyword">byte</span>[] content)
        {
            Name = name;
            LastModified = lastModified;
            Size = size;
            ContentType = contentType;
            Content = content;
        }

        <span class="keyword">public</span> Stream OpenReadStream(<span class="keyword">long</span> maxAllowedSize = <span class="number">512000</span>, CancellationToken cancellationToken = <span class="keyword">default</span>) =&gt; <span class="keyword">new</span> MemoryStream(Content);
    }
}
</pre></div>
</div>
