@inherits LayoutComponentBase

<PageTitle>@_title</PageTitle>

<HxMessenger Position="ToastContainerPosition.MiddleCenter" />
<HxMessageBoxHost />

<Navbar CssClass="d-none d-lg-block" />
<div class="doc-container container-fluid d-md-flex min-vh-100">
	<Sidebar />

	<div style="min-width: 0;" class="doc-content main p-md-4 pt-0 flex-grow-1 overflow-hidden">
		@Body
	</div>
</div>
