<div class="docs-section-source show-code">
    <div class="docs-section-source-container">
        <div class="mud-codeblock">
            <div class="html">
                <pre>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">PropertyGroup Condition="'$(Configuration)' == 'Debug'"</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudAllowedAttributePattern</span><span class="htmlTagDelimiter">&gt;</span>LowerCase<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudAllowedAttributePattern</span><span class="htmlTagDelimiter">&gt;</span>
<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">PropertyGroup</span><span class="htmlTagDelimiter">&gt;</span>
                </pre>
            </div>
        </div>
    </div>
</div>
