<div class="mud-codeblock">
<div class="html"><pre>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudLink</span> <span class="htmlAttributeName">OnClick</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">Count</span><span class="quot">&quot;</span> <span class="htmlAttributeName">Href</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">/components/link#onclick</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>Count and go<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudLink</span><span class="htmlTagDelimiter">&gt;</span>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudLink</span> <span class="htmlAttributeName">OnClick</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">Count</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>Count<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudLink</span><span class="htmlTagDelimiter">&gt;</span>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudText</span><span class="htmlTagDelimiter">&gt;</span>Counter: <span class="atSign">&#64;</span>counter<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudText</span><span class="htmlTagDelimiter">&gt;</span>
</pre></div>
<div class="csharp"><pre>
<span class="atSign">&#64;</span>code {
    <span class="keyword">private</span> <span class="keyword">int</span> counter = <span class="number">0</span>;

    <span class="keyword">private</span> <span class="keyword">void</span> Count() =&gt; counter++;
}
</pre></div>
</div>
