<div class="mud-codeblock">
<div class="html"><pre>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudCheckBox</span> <span class="htmlAttributeName"><span class="atSign">&#64;</span>bind-Value</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">_boolean</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>bool: <span class="atSign">&#64;</span>_boolean<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudCheckBox</span><span class="htmlTagDelimiter">&gt;</span>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudCheckBox</span> <span class="htmlAttributeName"><span class="atSign">&#64;</span>bind-Value</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">_nullableBoolean</span><span class="quot">&quot;</span> <span class="htmlAttributeName">Color</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="enum">Color</span><span class="enumValue">.Primary</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>bool?: <span class="atSign">&#64;</span>_nullableBoolean<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudCheckBox</span><span class="htmlTagDelimiter">&gt;</span>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudCheckBox</span> <span class="htmlAttributeName"><span class="atSign">&#64;</span>bind-Value</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">_integer</span><span class="quot">&quot;</span> <span class="htmlAttributeName">Color</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="enum">Color</span><span class="enumValue">.Secondary</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>int: <span class="atSign">&#64;</span>_integer<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudCheckBox</span><span class="htmlTagDelimiter">&gt;</span>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudCheckBox</span> <span class="htmlAttributeName"><span class="atSign">&#64;</span>bind-Value</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">_string</span><span class="quot">&quot;</span> <span class="htmlAttributeName">Color</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="enum">Color</span><span class="enumValue">.Tertiary</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>string: &quot;<span class="atSign">&#64;</span>(_string)&quot;<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudCheckBox</span><span class="htmlTagDelimiter">&gt;</span>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudCheckBox</span> <span class="htmlAttributeName"><span class="atSign">&#64;</span>bind-Value</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">_customString</span><span class="quot">&quot;</span> <span class="htmlAttributeName">Converter</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>CustomStringToBoolConverter.Instance</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>custom string: &quot;<span class="atSign">&#64;</span>(_customString)&quot;<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudCheckBox</span><span class="htmlTagDelimiter">&gt;</span>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudCheckBox</span> <span class="htmlAttributeName"><span class="atSign">&#64;</span>bind-Value</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">_object</span><span class="quot">&quot;</span> <span class="htmlAttributeName">Converter</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>ObjectToBoolConverter.Instance</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>boxed bool: &quot;<span class="atSign">&#64;</span>(_object.ToString())&quot;<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudCheckBox</span><span class="htmlTagDelimiter">&gt;</span>
</pre></div>
<div class="csharp"><pre>
<span class="atSign">&#64;</span>code{ 
    <span class="keyword">private</span> <span class="keyword">bool</span> _boolean = <span class="keyword">true</span>;
    <span class="keyword">private</span> <span class="keyword">bool</span>? _nullableBoolean = <span class="keyword">true</span>;
    <span class="keyword">private</span> <span class="keyword">int</span> _integer = <span class="number">1</span>;
    <span class="keyword">private</span> <span class="keyword">string</span> _string = <span class="string">&quot;on&quot;</span>;
    <span class="keyword">private</span> <span class="keyword">string</span> _customString = CustomStringToBoolConverter.NullString;
    <span class="keyword">private</span> <span class="keyword">object</span> _object = <span class="keyword">false</span>;

    <span class="keyword">private</span> <span class="keyword">class</span> ObjectToBoolConverter : IReversibleConverter&lt;<span class="keyword">object</span>, <span class="keyword">bool</span>?&gt;
    {
        <span class="keyword">public</span> <span class="keyword">bool</span>? Convert(<span class="keyword">object</span> input)
        {
            <span class="keyword">return</span> input <span class="keyword">switch</span>
            {
                <span class="keyword">null</span> =&gt; <span class="keyword">null</span>,
                <span class="keyword">bool</span> value =&gt; value,
                _ =&gt; <span class="keyword">throw</span> <span class="keyword">new</span> InvalidCastException(<span class="string">&quot;Unable to convert object to bool?.&quot;</span>)
            };
        }

        <span class="keyword">public</span> <span class="keyword">object</span> ConvertBack(<span class="keyword">bool</span>? output)
        {
            <span class="keyword">return</span> output == <span class="keyword">true</span>;
        }

        <span class="keyword">public</span> <span class="keyword">static</span> ObjectToBoolConverter Instance { <span class="keyword">get</span>; } = <span class="keyword">new</span>();
    }

    <span class="keyword">private</span> <span class="keyword">class</span> CustomStringToBoolConverter : IReversibleConverter&lt;<span class="keyword">string</span>, <span class="keyword">bool</span>?&gt;
    {
        <span class="keyword">public</span> <span class="keyword">const</span> <span class="keyword">string</span> TrueString = <span class="string">&quot;Yes, please&quot;</span>;
        <span class="keyword">public</span> <span class="keyword">const</span> <span class="keyword">string</span> FalseString = <span class="string">&quot;No, thanks&quot;</span>;
        <span class="keyword">public</span> <span class="keyword">const</span> <span class="keyword">string</span> NullString = <span class="string">&quot;I don&#39;t know&quot;</span>;

        <span class="keyword">public</span> <span class="keyword">bool</span>? Convert(<span class="keyword">string</span> input)
        {
            <span class="keyword">return</span> input <span class="keyword">switch</span>
            {
                TrueString =&gt; <span class="keyword">true</span>,
                FalseString =&gt; <span class="keyword">false</span>,
                _ =&gt; <span class="keyword">null</span>
            };
        }

        <span class="keyword">public</span> <span class="keyword">string</span> ConvertBack(<span class="keyword">bool</span>? output)
        {
            <span class="keyword">return</span> output <span class="keyword">switch</span>
            {
                <span class="keyword">true</span> =&gt; TrueString,
                <span class="keyword">false</span> =&gt; FalseString,
                <span class="keyword">null</span> =&gt; NullString
            };
        }

        <span class="keyword">public</span> <span class="keyword">static</span> CustomStringToBoolConverter Instance { <span class="keyword">get</span>; } = <span class="keyword">new</span>();
    }
}
</pre></div>
</div>
