<div class="mud-codeblock">
<div class="html"><pre>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudChipSet</span> <span class="htmlAttributeName">T</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">string</span><span class="quot">&quot;</span> <span class="htmlAttributeName">AllClosable</span> <span class="htmlAttributeName">OnClose</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">Closed</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="atSign">&#64;</span>foreach (var value in _values)
    {
        <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudChip</span> <span class="htmlAttributeName">Text</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="sharpVariable"><span class="atSign">&#64;</span>value</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span><span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudChip</span><span class="htmlTagDelimiter">&gt;</span>
    }
<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudChipSet</span><span class="htmlTagDelimiter">&gt;</span>

<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">div</span> <span class="htmlAttributeName">class</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">d-flex flex-column align-center</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>
    <span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudButton</span> <span class="htmlAttributeName">StartIcon</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue"><span class="atSign">&#64;</span>Icons.Material.Filled.Add</span><span class="quot">&quot;</span> <span class="htmlAttributeName">OnClick</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">Add</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span>Add chip<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudButton</span><span class="htmlTagDelimiter">&gt;</span>
<span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">div</span><span class="htmlTagDelimiter">&gt;</span>
</pre></div>
<div class="csharp"><pre>
<span class="atSign">&#64;</span>code
{
    <span class="keyword">private</span> <span class="keyword">int</span> _i = <span class="number">1</span>;
    <span class="keyword">private</span> List&lt;<span class="keyword">string</span>&gt; _values = <span class="keyword">new</span>();
    <span class="keyword">public</span> <span class="keyword">void</span> Add() =&gt; _values.Add(<span class="string">&quot;Value &quot;</span> + (_i++));
    <span class="keyword">public</span> <span class="keyword">void</span> Closed(MudChip&lt;<span class="keyword">string</span>&gt; chip) =&gt; _values.Remove(chip.Text);
}
</pre></div>
</div>
