<div class="mud-codeblock">
<div class="html"><pre>
<span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudBreadcrumbs</span> <span class="htmlAttributeName">Items</span><span class="htmlOperator">=</span><span class="quot">&quot;</span><span class="htmlAttributeValue">_items</span><span class="quot">&quot;</span><span class="htmlTagDelimiter">&gt;</span><span class="htmlTagDelimiter">&lt;/</span><span class="htmlElementName">MudBreadcrumbs</span><span class="htmlTagDelimiter">&gt;</span>
</pre></div>
<div class="csharp"><pre>
<span class="atSign">&#64;</span>code {
    <span class="keyword">private</span> List&lt;BreadcrumbItem&gt; _items =
    [
        <span class="keyword">new</span>(<span class="string">&quot;Home&quot;</span>, href: <span class="string">&quot;#&quot;</span>),
        <span class="keyword">new</span>(<span class="string">&quot;Link 1&quot;</span>, href: <span class="string">&quot;#&quot;</span>),
        <span class="keyword">new</span>(<span class="string">&quot;Link 2&quot;</span>, href: <span class="keyword">null</span>, disabled: <span class="keyword">true</span>)
    ];
}
</pre></div>
</div>
